<!-- <div class="modal-header">
  <script src="/app/pace/pace.min.js"></script>
  <link href="/app/pace/dataurl.css" rel="stylesheet" />
  <h3>Choose an Image</h3>
</div>
<div class="modal-body">

  <input type='file' file-model='myFile'></input>
  <hr>
  <button type="button" class="btn btn-primary" ng-click="upload()">Upload</button>
  <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>

</div> -->
<div class="modal-header">
  <h3>Choose an Image</h3>
</div>
<div class="modal-body">
  <input type='file' file-model='myFile'></input>
  <hr>
  <button type="button" class="btn btn-primary" ng-click="uploadClicked()">Upload</button>
  <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
